<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="yelm.io.avestal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Avestal"
        tools:ignore="LockedOrientationActivity">
        <activity android:name=".main.offers.respond.OfferActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".main.user.settings.ActivitySettings"
            android:screenOrientation="portrait">

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="yelm.io.avestal.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity
            android:name=".main.user.region.RegionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.user.photo.PickPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.host.AppActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >

        </activity>
        <activity
            android:name=".reg_ver.RegVerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
    </application>

</manifest>